.item-card:hover {
  transform: translateY(-3px);
  transition: transform 0.3 ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 4px solid white;
}
