.item-image{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid white;
    margin-top: 6px;
    margin-left: 5px;
}

.manage-list-container {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .manage-list-container {
        max-height: none;
        overflow: visible;
    }
}
