@media print {

  body * {
    visibility: hidden;
  }

  .receipt-popup,
  .receipt-popup * {
    visibility: visible;
  }

  .receipt-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none;
  }

  .receipt-popup-overlay {
    background: none !important;
  }

}
